// palette colori

$dark: #202020;
$gray: #d1d1d1;
$white: #fff;
$mainColor: #671616;
$mainColorActive: #c28888;
$secondaryColor: #fea0b3; 
$alert: #d85b00;


// font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap%27');
$main-font: 'Lora', serif;