// palette colori

$shadow: #00000015;
$dark: #202020;
$darkgrey: #666666;
$grey: #d1d1d1;
$white: #fff;
$mainColor: #671616;
$mainColorActive: #c28888;
$secondaryColor: #fea0b3; 
$alert: #d85b00;


// font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap%27');
$main-font: 'Lora', serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$secondary-font: 'Montserrat', sans-serif;
